* {
  margin: 0;
  padding: 0; }

nav ul li {
  margin-top: 20px;
  padding-right: 20px;
  font-size: 20px; }

.flexLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px; }

.bottonPosition {
  margin-left: 50px; }

.titulo {
  padding-left: 50px; }

.header {
  border-bottom: 1px solid black; }

nav ul li a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

.lineaNav {
  border-bottom: 1px solid grey; }

.navegador {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px; }

.borde {
  position: relative;
  margin-top: 30px; }

.container-fluid {
  padding: 0px; }

.bordeTitulo {
  display: flex;
  position: relative;
  left: 120px;
  justify-content: flex-end;
  align-items: center; }

.container-fluid {
  overflow: hidden; }

.colTitulo {
  text-align: center;
  padding-top: 20px;
  padding-left: 20px; }

.colLogo {
  text-align: center;
  padding-top: 25px; }

.contenedorAutos {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 550px; }

.flexContenedorAutos {
  display: flex;
  justify-content: space-around;
  margin-top: 20px; }

.imagenContenedor {
  overflow: hidden; }

.anchoImagenContenedor {
  width: 100%; }

.centrarTitulo {
  text-align: center; }

.textoContenedor {
  padding-left: 10px; }

.flexQuienes {
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  margin-top: 50px; }

.quienesSomos {
  width: 150px;
  font-size: 35px; }

.linea {
  border-right: 2px solid red;
  margin-right: 20px;
  padding-left: 20px; }

.pQuienesSomos {
  margin: 0;
  margin-left: 15px;
  display: flex;
  align-items: center; }

.anchoCarousel {
  width: 1200px; }

.anchoImagenCarousel {
  width: 500px; }

.flexCarousel {
  display: flex;
  justify-content: center;
  margin-top: 50px; }

.marginAutos {
  margin-top: 50px; }

.imagenes {
  display: flex;
  justify-content: center;
  margin-top: 50px; }

.anchoContacto {
  display: flex;
  justify-content: center;
  margin-bottom: 50px; }

.botonesContacto {
  width: 600px;
  margin-top: 50px; }

.tituloContacto {
  text-align: center; }

.linea {
  color: red; }

.flexBotones {
  display: flex;
  flex-direction: column;
  margin-top: 50px; }

.achicarBotones {
  width: 400px; }

.centrarBotones {
  display: flex;
  justify-content: center; }

.botonEnviar {
  height: 80px;
  width: 200px;
  border-radius: 10px;
  background-color: black;
  margin-top: 30px; }

.bordeBotones {
  border-radius: 10px; }

.nuestrosVehiculos {
  position: relative;
  display: flex;
  left: 100px;
  margin-top: 30px; }

.titulodescVehiculo {
  font-size: 20px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; }

.descVehiculo {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

.descVehiculo, .titulodescVehiculo {
  margin-right: 20px; }

.contenido {
  padding-right: 40px; }

.audi {
  height: 300px;
  border: 1px solid black;
  border-radius: 10px; }

.centrarAudi, .centrarPorsche, .centrarBugatti {
  display: flex;
  justify-content: center; }

.porsche911 {
  height: 240px;
  border: 1px solid black;
  border-radius: 10px; }

.bugatti {
  height: 250px;
  border: 1px solid black;
  border-radius: 10px; }

.botonesContacto {
  height: 620px; }

.tituloOfertas {
  display: flex;
  justify-content: center;
  margin-top: 40px; }

.ofertas {
  margin: 0;
  margin-top: 50px;
  border-bottom: 1px solid black; }

.achicarSelect {
  width: 250px; }

.facebook, .instagram, .twitter {
  height: 40px;
  position: relative; }

footer {
  display: flex;
  justify-content: space-around;
  height: 120px;
  background-image: linear-gradient(to left, #cfa328, red); }

.redes {
  display: flex;
  height: 80px;
  justify-content: space-evenly;
  align-items: center; }

.flexRedes {
  position: relative;
  left: 100px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px; }

.flexDerechos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.footerIdeal {
  font-size: 20px;
  align-items: center; }

.derechos {
  display: flex;
  justify-content: center;
  font-size: 12px;
  width: 300px; }

.redesTitulo {
  font-size: 30px;
  margin-left: 50px; }

.logearse {
  display: flex;
  flex-direction: column;
  align-items: center; }

.tenesCuenta {
  margin-top: 10px; }

.instagram:hover {
  transform: scale(2); }

.facebook:hover, .instagram:hover, .twitter:hover {
  transform: scale(2); }

.twitter:hover {
  transform: scale(2); }

.containerOnix {
  display: flex;
  justify-content: center; }

.onix {
  position: relative;
  height: 300px;
  width: 500px;
  border: 1px solid black;
  border-radius: 10px; }

.marcasVehiculos {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center; }

.selectVehiculos {
  width: 100px; }

.flexImagenes {
  display: flex;
  justify-content: center; }

.bmw, .maserati {
  width: 300px;
  border: 1px solid black;
  margin-top: 40px; }

.numero {
  margin-top: 5px; }

.contenedor-formulario {
  display: flex;
  justify-content: center; }

.formulario {
  height: 800px;
  width: 500px;
  flex-direction: column;
  justify-content: flex-start; }

.modificar-control {
  padding-left: 10px; }

.marginEmail {
  margin-top: 10px; }

.marginDescVehiculo {
  margin-top: 25px; }

.formContacto {
  display: flex;
  justify-content: center;
  margin-top: 50px; }

.nombreApellido {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px; }

.paddingControl {
  padding-right: 10px; }

.descripcionAuto {
  margin-top: 5px; }

.buttons {
  display: flex;
  justify-content: center; }

.marcas {
  margin-top: 5px; }

.probandoRedes {
  display: flex; }

@media only screen and (max-width: 767px) {
  .header {
    border-bottom: 0px; }
  .achicarBordes {
    width: 99%; }
  .footer {
    width: 100%; }
  .titulo {
    font-size: 25px;
    text-align: center; }
  .colLogo {
    padding-left: 50px;
    padding-top: 10px; }
  .bottonPosition {
    justify-content: flex-end; }
  nav ul a {
    font-size: 15px; }
  .navbar-nav {
    text-align: right; }
  .tituloNuestrosVehiculos {
    font-size: 20px;
    position: relative;
    right: 30px; }
  .descVehiculo, .titulodescVehiculo {
    margin: 20px; }
  .paddingAutos {
    padding-right: 40px;
    padding-left: 40px; }
  .descVehiculo {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px; }
  .facebook, .instagram, .twitter {
    height: 30px;
    padding-left: 15px; }
  .footerIdeal {
    font-size: 20px;
    margin-bottom: 43px; }
  .derechos {
    display: none;
    font-size: 12px; }
  .flexDerechos {
    justify-content: center; }
  .redesTitulo {
    display: none; }
  .flexRedes {
    position: relative;
    left: 30px;
    width: 100px;
    margin: 0px;
    bottom: 20px;
    justify-content: space-around; }
  .probandoRedes {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .tenesCuenta {
    font-size: 20px; }
  .ingresarFooter {
    font-size: 12px; }
  .registrarseFooter {
    font-size: 12px; } }
