$fontTituloMobile: 25px;
$fontTituloDescVehiculo: 20px;
$bordesVehiculos: 1px solid black;
$marginTop: 50px;
$top10px: 10px;

* {
    margin:0;
    padding:0;
  }

  nav ul li{
    display: inline;
    position: relative;
    top: 20px;
    list-style-type: none;
    display: inline-block;
    padding-right: 20px;
    font-size: 20px;
} 

nav ul li a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
 }

.navegador{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.borde{
    position: relative;
    margin-top: 30px;
}

.container-fluid{
    padding: 0px;
}

.bordeTitulo{
    display: flex;
    position: relative;
    left: 120px;
    justify-content: flex-end;
    align-items: center;
}

 .container-fluid{
    overflow: hidden;
}

.colTitulo{
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
}

.colLogo{
    text-align: center;
    padding-top: 25px;
}

.flexQuienes{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}

.anchoCarousel{
    width: 1000px;
    border: $bordesVehiculos;
    border-radius: 2px;
}

.flexCarousel{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.marginAutos{
    margin-top: 50px;
}

.imagenes{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.anchoContacto{
    display: flex;
    justify-content: center;
}

.botonesContacto{
    width: 600px;
    margin-top: 50px;
}

.tituloContacto{
    text-align: center;
    padding-left: 50px;
}

.flexBotones{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.achicarBotones{
    width: 400px;
}

.centrarBotones{
    display: flex;
    justify-content: center;
}

.botonEnviar{
    height: 80px;
    width: 200px;
    border-radius: 10px;
    background-color: black;
    margin-top: 30px;
}

.bordeBotones{
    border-radius: 10px;
}

.nuestrosVehiculos{
    display: flex;
    justify-content: center;
}

.tituloNuestrosVehiculos{
    border: $bordesVehiculos;
    padding: 15px;
    border-radius: 5px;
}

.titulodescVehiculo{
    font-size: $fontTituloDescVehiculo;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.descVehiculo{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.descVehiculo, .titulodescVehiculo{
    margin-right: 20px;
}

.contenido{
    padding-right: 40px;
}

.audi{
    height: 300px;
    border: $bordesVehiculos;
    border-radius: 10px;
}

.centrarAudi, .centrarPorsche, .centrarBugatti{
    display: flex;
    justify-content: center;
}

.porsche911{
    height: 240px;
    border: $bordesVehiculos;
    border-radius: 10px;
}

.bugatti{
    height: 250px;
    border: $bordesVehiculos;
    border-radius: 10px;
}

.facebook{
    height: 40px;
    position: relative;
}

.instagram, .twitter {
    @extend .facebook;
    /* color:#4BD1E6; */
}

.redes {
    display: flex;
    height: 80px;
    justify-content: space-evenly;
    align-items: center;
    /* background-color:rgb(207, 163, 40); */
}

#grad{
    background-image: linear-gradient(to left,rgb(207, 163, 40),red);
}

.instagram:hover{
    transform: scale(2);
}

.facebook:hover{
    transform: scale(2);
}

.twitter:hover{
    transform: scale(2);
}

.containerOnix{
    display: flex;
    justify-content: center;
}   

.onix{
   position: relative;
   height: 300px;
   border: 1px solid black;
   border-radius: 10px;
   }

.marcasVehiculos{
   display: flex;
   flex-direction: column;
   margin-top:50px;
   align-items: center;
}

.selectVehiculos{
   width: 100px;
}

.flexImagenes{
    display: flex;
    justify-content: center;
}

.bmw, .maserati{
    width: 300px;
    border: $bordesVehiculos;
    margin-top: 40px;
}


.numero{
    margin-top: $top10px - 5;
}

.contenedor-formulario{
    display: flex;
    justify-content: center;
}

.formulario{
    height: 800px;
    width: 500px;
    flex-direction: column;
    justify-content: flex-start;
}

.modificar-control{
    padding-left: 10px;
}

.marginEmail{
    margin-top:$marginTop - 40;
}

.marginDescVehiculo{
    margin-top:$marginTop/2;
}

.nombreApellido{
    display: flex;
    justify-content: space-evenly;
    margin-top: $top10px + 10;
}

.paddingControl{
    padding-right: 10px;
}


.descripcionAuto{
    margin-top: 5px;
}

.buttons{
    display: flex;
    justify-content: center;
}

.marcas{
    margin-top: 5px;
}

@media only screen and (max-width:767px){
    .titulo{
        font-size: $fontTituloMobile;
        text-align: center;
    }
    
    .colLogo{
        padding-left: 50px;
        padding-top: 10px;
    }

    .bottonPosition{
        justify-content: flex-end;
    }

    nav ul a{
        font-size: 15px;
    }

    .navbar-nav{
        text-align:right;
    }

    .descVehiculo, .titulodescVehiculo{
        margin: 20px;
    }

    .paddingAutos{
        padding-right:40px;
        padding-left:40px;
    }

}
    // .form_color{
    //     background-color: red;
    // }

    // .titulo_borde{
    //     border: 1px solid black;
    //     border-radius: 10px;
    //     width: 300px;
    // }

    // .row_Bcolor{
    //     background-color: blue;
    // }

    // .elige_color{
    //     color: cyan;
    // }

    // .elige_font{
    //     font-size: 20px;
    // }

