<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lista de vehículos disponibles. Consultas online, hacemos la entrega del mismo en un plazo de 1 a 7 días.">
    <meta name="keywords" content="VEHICULOS, AUTOS, MARCAS, VOLKSWAGEN, AUDI, BMW, RENAULT, CHEVROLET, FIAT">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>Vehículos</title>
</head>
<body>

  <div class="container-fluid header">
    <div class="row">
      <div class="col-lg-6 col-xs-12 colLogo flexLogo">
        <img class="logo" alt="logo" src="../assets/img/logo2.png">
        <h1 class="titulo">TU COCHE IDEAL</h1>
      </div>
        <div class="col-lg-6 col-xs-12">
          <nav class="navbar navbar-expand-sm navbar-light bg-light bottonPosition">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
              <span class="navbar-toggler-icon"></span>
            </button>
            <!-- enlaces -->
        <div class="collapse navbar-collapse" id="opciones">   
            <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="../index.html">INICIO</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link lineaNav" href="vehiculos.html">VEHÍCULOS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="ofertas.html">OFERTAS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="vende-tu-auto.html">VENDE TU AUTO</a>
                </li> 
                <li class="nav-item">
                  <a class="nav-link" href="contacto.html">CONTACTO</a>
                </li>           
              </ul>
        </div>
      </nav>
        </div>
      </div>
    </div>

    <!-- Imagenes + descripción -->
    <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12 col-xs-12">
              <div class="tipoVehiculo">
                  <div class="marcasVehiculos"> 
                      <p><b>Elige la marca del vehículo que deseas.</b></p> 
                      <select class="form-select achicarSelect" aria-label="Default select example">
                        <option selected>Elegir marca</option>
                        <option value="1">Volkswagen</option>
                        <option value="2">Audi</option>
                        <option value="3">BMW</option>
                        <option value="4">Renault</option>
                        <option value="5">Chevrolet</option>
                        <option value="6">Fiat</option>
                      </select>
                  </div>
              </div>
          </div>
      </div>
    </div>

  <div class="container-fluid achicarBordes">
      <div class="row borde">
          <section class="col-lg-4 col-xs-12 containerOnix">
              <img src="../assets/img/porsche911.jpg" class="img-fluid onix" alt="imagen">
          </section>
          <section class="col-lg-8 col-xs-12 contenido">
              <h3 class="titulodescVehiculo">Descripción del vehículo:</h3>
              <p class="descVehiculo">El Porsche 911 es el deportivo más importante dentro de la historia de Porsche, teniendo dentro de esta gama, más de 20 variantes distintas.</p>
          </section>
      </div>
  </div>
  
      <div class="container-fluid achicarBordes">
      <div class="row borde">
          <section class="col-lg-4 col-xs-12 containerOnix">
              <img src="../assets/img/bmwx6.jpg" class="img-fluid onix" alt="imagen">
          </section>
          <section class="col-lg-8 col-xs-12 contenido">
              <h3 class="titulodescVehiculo">Descripción del vehículo:</h3>
              <p class="descVehiculo">Esta camioneta compuesta por propulsores diésel y gasolina, junto a sus 6 cilindros en línea o 8 cilindros en uve, es todo lo que necesitas para vos.</p>
           </section>        
      </div>
  </div>

  <div class="container-fluid achicarBordes">
      <div class="row borde">
          <section class="col-lg-4 col-xs-12 containerOnix">
              <img src="../assets/img/cronos.webp" class="img-fluid onix" alt="imagen">
          </section>
          <section class="col-lg-8 col-xs-12 contenido">
              <h3 class="titulodescVehiculo">Descripción del vehículo:</h3>
              <p class="descVehiculo">La marca italiana presentó la actualización del sedán fabricado en la planta cordobesa de Ferreyra. Manteniendo su completo equipamiento de confort y seguridad. Se destaca además la llegada de la versión S-Design, con look más deportivo. No hay novedades en su mecánica, con los motores 1.3 Firefly de 99 CV y 1.8 eTorQ de 130 CV.</p>
           </section>        
      </div>
  </div>

  <div class="container-fluid achicarBordes marginVehiculos">
    <div class="row borde">
        <section class="col-lg-4 col-xs-12 containerOnix">
            <img src="../assets/img/cruze.jpg" class="img-fluid onix" alt="imagen">
        </section>
        <section class="col-lg-8 col-xs-12 contenido">
            <h3 class="titulodescVehiculo">Descripción del vehículo:</h3>
            <p class="descVehiculo">Es una actualización del hatchback y el Sedán para el Segmento C (compacto). Reemplaza al Cruze (2020), que se lanzó en diciembre de 2019. El Cruze (2021) marca el regreso de la versión LTZ, que se había dejado de comercializar. Se produce en la planta argentina de Alvear (Santa Fe) y ya está a la venta en nuestro mercado.</p>
         </section>        
    </div>
  </div>

  <!-- fin Imagenes + descripción -->

  <!-- Footer -->
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-xs-12 footer">
            <footer>
              <div class="probandoRedes">
                <div class="flexDerechos">
                  <h3 class="footerIdeal">TU COCHE IDEAL</h3>
                <h3 class="derechos">2020 © Todos los derechos reservados ||</h3>
                </div>
                <div class="flexRedes"> 
                  <h3 class="redesTitulo">redes</h3>
                      <a href="https://erwiniglesias.github.io/Proyecto-coder/index.html"> <img src="../assets/img/facebook.png" alt="facebook" class="facebook"> </a>
                    <a href="https://www.instagram.com/erwiniglesias/?hl=es-la"><img src="../assets/img/instagram.png" alt="instagram" class="instagram"></a>    
                    <a href="https://twitter.com/Erwiniglesias1"> <img src="../assets/img/twitter.png" alt="facebook" class="twitter"> </a> 
                  </div> 
              </div>

                  <div class="logearse">
                    <h4 class="tenesCuenta">¿Ya tenes una cuenta?</h4>
                    <p class="ingresarFooter">Ingresar</p>
                    <p class="registrarseFooter">Registrarse</p>
                </div>
            </footer>
        </div>
    </div>
</div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>   
</body>
</html>